@import url('https://fonts.googleapis.com/css?family=Rubik:300,400&display=swap&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
}



body {
    height: 1900px;
}

header {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    height: 70px;
    transition: 0.7s;
}

.menu {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 70%;
    font-family: 'Rubik', sans-serif;
    position: relative;
}

header .logo {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 26px);
    border-radius: 50%;
    border: 2px solid rgb(42, 131, 20);
    left: 10px;
}

.menu a {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 25px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1.5px solid rgb(42, 131, 20);
}

.menu .logoH {
    display: none;
    margin: 15px 0;
    font-size: 32px;
    color: #fff;
}

.dropmenu, .dropmenu a {
    width: 150px;
    text-align: center;
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 25px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1.5px solid rgb(42, 131, 20);
    background-color: rgb(31, 31, 31);
}

.dropmenu svg {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    left: 5px;
    top: calc(50% - 8px);
    width: 20px;
    height: 20px;
    transition: 0.7s;
}

.dropmenu a {
    position: absolute;
    opacity: 0;
    top: 30px;
    left: 0;
}

.dropmenu a::before {
    display: inline-block;
    content: '';
    width: calc(100% + 20px);
    height: 60px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    z-index: -1;
    background-color: rgb(31, 31, 31);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dropmenu a + a {
    top: 70px;
}

.mBtn {
    display: inline-block;
    position: absolute;
    right: 80px;
    top: calc(50% - 24px);
    padding: 4px;
    width: 40px;
    height: 40px;
}

.mBtn span {
    z-index: 99;
    width: 35px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: calc(50% - 1px);
    border-radius: 4px;
    transform-origin: 50% 50%;
    transition: 0.7s;
}

.mBtn span+span {
    transform: translateY(-10px);
}

.mBtn span+span+span {
    transform: translateY(10px);
}

.mMenu {
    display: inline-block;
    position: fixed;
    text-align: center;
    top: 0px;
    right: calc(-45%);
    width: calc(40% - 30px);
    padding: 80px 15px 5px 15px;
    background-color: rgb(0, 0, 0, 0.9);
    transition: 0.7s;
}

.mMenu a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin: 20px 0;
    padding: 4px 15px;
    min-width: 80%;
    border-bottom: 1px solid #fff;
}

.content {
    display: flex;
    margin: 20px 5%;
}

@media (max-width: 768px) {
    .content {
        margin: 80px 5px;
    }

    header {
        top: 0;
        position: fixed;
        background-color: rgb(12, 12, 12);
    }

    .menu a, .dropmenu {
        display: none;
    }

    .menu .logoH {
        display: inline-block;
        position: absolute;
        left: 20px;
    }

    .mBtn {
        display: inline-block;
    }

    header .logo {
        left: calc(100% - 70px);
    }
}