@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

@mixin font {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    color: #131313;
}

header {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    background-color: rgb(51, 51, 51);
    color: #fff;
    text-align: center;

    span {
        display: inline-block;
        @include font;
    }
}

#content {
    display: inline-block;
    box-sizing: border-box;
    margin: 40px 5%;
}

.post {

    img {
        display: inline-block;
        width: 955px;
        height: 500px;
        margin: 8px 0;
    }

    time {
        display: block;
        font-size: 14px;
        vertical-align: top;
        color: #666;
    }
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 15px 5%;
    background-color: rgb(51, 51, 51);
    color: #484848;
    font-size: 15px;

    a {
        display: block;
        width: 100%;
        color: #888888;
    }
    
    .span {
        display: inline-block;
        width: 100%;
        margin: 5px 0;
    }
    
    .row {
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    #content {
        margin: 40px 5px;
    }

    .post {
        img {
            max-width: 100%;
        }
    }    
}
