.clr{clear:both;}
.btn{display:block;cursor:pointer;font-size:20px;text-transform:uppercase;border:3px solid rgba(10,60,10,1);border-radius:5px;padding:20px;color:#fff;text-align:center;margin:0 auto;text-decoration:none;background:#ffecbc;
background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background:-moz-linear-gradient(top, #ffecbc 0%, #ffdcac 50%, #ffcd8d 51%, #ffba75 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffecbc), color-stop(50%,#ffdcac), color-stop(51%,#ffcd8d), color-stop(100%,#ffba75));
background:-webkit-linear-gradient(top, #ffecbc 0%,#ffdcac 50%,#ffcd8d 51%,#ffba75 100%);
background:-o-linear-gradient(top, #ffecbc 0%,#ffdcac 50%,#ffcd8d 51%,#ffba75 100%);
background:-ms-linear-gradient(top, #ffecbc 0%,#ffdcac 50%,#ffcd8d 51%,#ffba75 100%);
background: linear-gradient(to bottom, #6EEC6E 0%,#3F963F 50%,#0F8A0E 51%,#126712 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffecbc', endColorstr='#ffba75',GradientType=0 );}
#inline {display:none;width:400px;}
#inline h2{text-align:center;color:#fff;margin:15px 0 50px 0;}
#contact label{float:left;width:22%;text-align:right;}
.txtarea,.txt{float:right;color:#676767;width:70%;margin-bottom:10px;border:2px dotted #0A3C0A;padding:5px 9px;max-width:70%;}
.txtarea{height:60px;}
.txtarea:focus,.txt:focus{border-style:solid;border-color:#126712;color:#444;}
input.error{border-color:#973d3d;border-style:solid;background:#f0bebe;color:#a35959;}
input.error:focus{border-color:#973d3d;color:#a35959;}
.fancybox-skin{background:#aaa!important;
background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background:-moz-linear-gradient(top, #126712 0%,#126712 80px, #fff 84px)!important;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#126712), color-stop(80px,#126712), color-stop(84px,#fff))!important;
background:-webkit-linear-gradient(top,#126712 0%,#126712 80px,#fff 84px)!important;
background:-o-linear-gradient(top, #126712 0%,#126712 80px,#fff 84px)!important;
background:-ms-linear-gradient(top, #126712 0%,#126712 80px,#fff 84px)!important;
background:linear-gradient(to bottom, #126712 0%,#126712 80px,#fff 84px)!important;}